<h2>Sign up</h2>

<%= form_for(@family, url: user_registration_path) do |f| %>
  <%= render "devise/shared/error_messages", resource: @family %>

  <div class="field">
    <%= f.label :家族名 %><br />
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit "Next" %>
  </div>
<% end %>