<h2>Sign up</h2>

<%= form_for(@family_user, url: users_create_user_path) do |f| %>
  <%= render "devise/shared/error_messages", resource: @family_user %>

  

  <p> ユーザー2</p>

  <%= f.fields_for :user2 do |user2_fields| %>
    <div class="field">
      <%= user2_fields.label :nickname %><br />
      <%= user2_fields.text_field :nickname %>
    </div>

    <div class="field">
      <%= user2_fields.label :email %><br />
      <%= user2_fields.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= user2_fields.label :password %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= user2_fields.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= user2_fields.label :password_confirmation %><br />
      <%= user2_fields.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<div class="actions">
  <%= link_to "前へ", new_user_registration_path %>
</div>


<%= render "devise/shared/links" %>